<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">
  <img src="/assets/images/{{ pensamento.modelo }}.png" alt="">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
  <div class="acoes">
    <button class="botao-favorito" (click)="atualizarFavoritos()">
      <img src="/assets/images/icone-favorito-{{ mudarIconeFavorito() }}.png" alt="">
    </button>
    <button class="botao-editar" routerLink="/pensamentos/editarPensamento/{{pensamento.id}}">
      <img src="/assets/images/icone-editar.png" alt="">
    </button>
    <button class="botao-excluir" routerLink="/pensamentos/excluirPensamento/{{pensamento.id}}">
      <img src="/assets/images/icone-excluir.png" alt="">
    </button>
  </div>
</div>
